<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Chat with us</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"> 
  <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
  <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var user = {new_user: true}
        var field = ''
        var socket = io.connect();

        socket.on('connect', function() {
            socket.emit('connect_event', user);
        })

        if (!String.prototype.format) {
          String.prototype.format = function() {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function(match, number) { 
              return typeof args[number] != 'undefined'
                ? args[number]
                : match
              ;
            });
          };
        };

        socket.on('server_response', function(msg) {
            if (msg['speaker'] != 'You') {
                $("#chat-history").append(`
                  <li>
                    <div class="message-data">
                      <span class="message-data-name"><i class="fa fa-circle online"></i> {0}</span>
                      <span class="message-data-time">10:20 AM, Today</span>
                    </div>
                    <div class="message my-message">
                      {1}
                    </div>
                  </li> `.format(msg['speaker'], msg['question']))
            } else { 
                $("#chat-history").append(`
                  <li class="clearfix">
                    <div class="message-data align-right">
                      <span class="message-data-time" >10:14 AM, Today</span> &nbsp; &nbsp;
                      <span class="message-data-name" >{0}</span> <i class="fa fa-circle me"></i>
                      
                    </div>
                    <div class="message other-message float-right">
                      {1}
                  </div>`.format(msg['speaker'], msg['question']))
            };

            if ('field' in msg)
                field = msg['field'];

            $('#sl').stop().animate({
                scrollTop: $('#sl')[0].scrollHeight
            }, 800);
        });

        socket.on('bot_result', function(msg) {
            $("#chat-history").append(`
              <li>
                <div class="message-data">
                  <span class="message-data-name"><i class="fa fa-circle online"></i> {0}</span>
                  <span class="message-data-time">10:20 AM, Today</span>
                </div>
                <div class="message my-message">
                  {1}
                </div>
              </li> `.format('Report', msg['ans']))
            $('#sl').stop().animate({
                scrollTop: $('#sl')[0].scrollHeight
            }, 800);
            socket.disconnect()
        });

        $('#emit').click(function(event) {
            user[field] = $('#message-to-send').val()
            socket.emit('client_event', {ans: $('#message-to-send').val().trim(), 'field': field});
            $('#message-to-send').val('');
            return false;
        });

        $('#get_result').click(function(event) {
            socket.emit('get_result', {ans: null});
        });

        $('#message-to-send').keyup(function(event) {
            if (event.keyCode == 13) {
                $('#emit').click();
            }
        });
      });
    </script>   
</head>

<body>

    <div class="container clearfix">
    
    <div class="chat">
      <div class="chat-header clearfix">
        <div class="chat-about">
          <div class="chat-with">Chat with us</div> 
        </div>
        <i class="fa fa-star"></i>
      </div> <!-- end chat-header -->
      
      <div id='sl' class="chat-history">
        <ul id='chat-history'>
          
        </ul>
        
      </div> <!-- end chat-history -->
      
      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
                 
        <button id='emit'>Send</button>
        <button id="get_result">Done</button>

      </div> <!-- end chat-message -->
       
    </div> <!-- end chat -->
    
  </div> <!-- end container -->
 <div id='result'></div><br /> 



</body>

</html>
